//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 17 17:52:11 2016
//! **************************************************************************

SCHEMATIC START;
COMP "RAM2ADDR<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "RAM1ADDR<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "RAM2ADDR<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "RAM1ADDR<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "RAM2ADDR<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "RAM1ADDR<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "FPGA_LED<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "RAM2ADDR<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "RAM1ADDR<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "FPGA_LED<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "RAM2ADDR<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "RAM1ADDR<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "FPGA_LED<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "RAM2ADDR<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "RAM1ADDR<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "FPGA_LED<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "RAM2ADDR<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "RAM1ADDR<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "FPGA_LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "RAM2ADDR<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "SW_DIP<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "RAM1DATA<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "RAM1ADDR<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "FPGA_LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "SW_DIP<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "RAM1DATA<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "RAM1ADDR<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "FPGA_LED<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "TSRE" LOCATE = SITE "N9" LEVEL 1;
COMP "SW_DIP<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "RAM1DATA<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "RAM1ADDR<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "FPGA_LED<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "SW_DIP<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "RAM1DATA<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "FPGA_LED<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "CLK1" LOCATE = SITE "B9" LEVEL 1;
COMP "SW_DIP<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "RAM1DATA<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "FPGA_LED<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "SW_DIP<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "RAM1DATA<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "SW_DIP<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "RAM1DATA<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "RAM2DATA<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "RAM2ADDR<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "SW_DIP<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "RAM1DATA<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "RDN" LOCATE = SITE "C14" LEVEL 1;
COMP "RAM2DATA<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "RAM2ADDR<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "SW_DIP<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "RAM1DATA<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "RAM2DATA<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "RAM2ADDR<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "SW_DIP<9>" LOCATE = SITE "N2" LEVEL 1;
COMP "RAM1DATA<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "RAM2DATA<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "RAM2ADDR<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "RAM2DATA<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "RAM2ADDR<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "RAM2DATA<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "RAM2ADDR<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "DATA_READY" LOCATE = SITE "A16" LEVEL 1;
COMP "RAM2ADDR<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "RAM2DATA<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "RAM2ADDR<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "RAM2DATA<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "RAM2ADDR<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "RAM2DATA<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "RAM2ADDR<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "RAM1_EN" LOCATE = SITE "M15" LEVEL 1;
COMP "RAM1ADDR<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "RAM2DATA<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "RAM1ADDR<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "RAM2DATA<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "TBRE" LOCATE = SITE "D14" LEVEL 1;
COMP "RAM1ADDR<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "RAM2DATA<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "RAM1ADDR<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "RAM2DATA<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "RAM2_EN" LOCATE = SITE "N10" LEVEL 1;
COMP "RAM1ADDR<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "FPGA_LED<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "RAM2DATA<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "RAM1ADDR<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "FPGA_LED<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "RAM2DATA<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "RAM1_OE" LOCATE = SITE "M16" LEVEL 1;
COMP "RAM1ADDR<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "FPGA_LED<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "RAM2DATA<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "RAM1ADDR<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "FPGA_LED<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "FPGA_LED<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "DYP0<0>" LOCATE = SITE "F8" LEVEL 1;
COMP "FPGA_LED<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "RAM2_OE" LOCATE = SITE "R9" LEVEL 1;
COMP "DYP0<1>" LOCATE = SITE "E8" LEVEL 1;
COMP "CLK_FROM_KEY" LOCATE = SITE "U9" LEVEL 1;
COMP "DYP0<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "DYP0<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "DYP1<0>" LOCATE = SITE "B10" LEVEL 1;
COMP "DYP0<4>" LOCATE = SITE "E7" LEVEL 1;
COMP "DYP1<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "DYP0<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "SW_DIP<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "RAM1DATA<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "DYP1<2>" LOCATE = SITE "G9" LEVEL 1;
COMP "DYP0<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "SW_DIP<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "RAM1DATA<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "WRN" LOCATE = SITE "U5" LEVEL 1;
COMP "DYP1<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "SW_DIP<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "RAM1DATA<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "DYP1<4>" LOCATE = SITE "E9" LEVEL 1;
COMP "SW_DIP<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "RAM1DATA<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "RAM1_RW" LOCATE = SITE "M18" LEVEL 1;
COMP "DYP1<5>" LOCATE = SITE "D9" LEVEL 1;
COMP "SW_DIP<14>" LOCATE = SITE "J7" LEVEL 1;
COMP "RAM1DATA<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "DYP1<6>" LOCATE = SITE "C9" LEVEL 1;
COMP "SW_DIP<15>" LOCATE = SITE "J6" LEVEL 1;
COMP "RAM1DATA<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "RESET" LOCATE = SITE "U10" LEVEL 1;
COMP "RAM2_RW" LOCATE = SITE "M9" LEVEL 1;
SCHEMATIC END;

